In [6]:
%load_ext sql

In [11]:
%sql sqlite://

In [16]:
%%sql
CREATE TABLE IF NOT EXISTS weather (
    id INT,
    recordDate DATE,
    Temperature INT
);

 * sqlite://
Done.

[]

In [17]:
%%sql

INSERT INTO Weather (id, recordDate, temperature)
VALUES
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30);

 * sqlite://
4 rows affected.

[]

In [22]:
%%sql
SELECT * FROM weather

 * sqlite://
Done.

[(1, '2015-01-01', 10),
 (2, '2015-01-02', 25),
 (3, '2015-01-03', 20),
 (4, '2015-01-04', 30)]

In [21]:
%%sql
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = date(w2.recordDate, '+1 day')
WHERE w1.Temperature > w2.Temperature

 * sqlite://
Done.

[(2,), (4,)]